{% extends 'base.html.twig' %}

{% block body %}
<section class="alumni">
    <h2 class="alumni-h2">Fiche individuelle</h2>

    <img src="{{asset("upload/avatar/"~user.avatar)}}" alt="avatar" class="alumni-img">

    <div class="alumni-nom_prenom">
        <p class="alumni-p"><small>Nom : </small>{{ user.lastname }}</p>
        <p class="alumni-p"><small>Prénom : </small>{{ user.firstname }}</p>
    </div>

        <p><small>Coordonnées</small></p>
{#    {{ dump(user) }}#}
    <div class="alumni-coordonnées">

{#        <img src="{{ asset('images/sainte-victoire.jpg') }}" alt="" class="image">#}

        <p class="alumni-email"><small>Email : </small>{{user.email}}</p>
        <div class="alumni-nom_prenom">
            <p class="alumni-p"><small>Ville : </small>{{user.city}}</p>
            <p class="alumni-p"><small>Date de naissance : </small>{{ user.birthdate.date |date('d/m/y') }}</p>
        </div>
    </div>

         <p><small>Formation</small></p>

        <div style="display: flex">
            <p class='alumni-formation'> {% for promo in user.promotions %}
                    {{promo.degree.name}}
                    {{promo.year.title}}<br>
                {% endfor %}
            </p>
        </div>

</section>
{% endblock %}