<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}

    </head>
    <body>
    <header>

        <div class="first">
            <div class ='avatar'>
                {% if app.user is not null  %}
                <p>Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</p>
{#                {{ dump(app.user) }}#}

                <img src="{{ asset_avatar(app.user.avatar) }}" alt="avatar" class="img1">
                    {% else %}
                        <li><a href ="{{ path('security.login') }}" id="special">Bonjour connectez-vous !</a></li>
                {% endif %}

            </div>
        </div>
        <div class="second">
            <img src="{{ asset("images/image2.png") }}" alt="logo_greta" id="img2">
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <div class="third">
            <nav class ='hide'>
            <ul>

                {% if is_granted('ROLE_ADMIN') %}
                <li><a href= "{{ path('admin.index') }}">Administration</a></li>
                {% endif %}
                {% block li %}
                <li><a href= {{path('home.index')}}>Accueil</a></li>
                {% endblock %}
                <li><a href= #>Compte</a></li>
                <li><a href ="{{ path('security.logout') }}">Déconnexion</a></li>

            </ul></nav>
            <div id='burger'>
                <div class='burger'></div>
                <div class='burger'></div>
                <div class='burger'></div>
            </div>
        </div>
        {% else %}
        <div class="third">
            <nav class ='hide'>
            <ul>
                <li><a href= {{path('home.index')}}>Accueil</a></li>
                <li><a href ="{{ path('security.login') }}" id="special">Connexion</a></li>
                <li><a href =#>Compte</a></li>

            </ul>
            </nav>
            <div id='burger'>
                <div class='burger'></div>
                <div class='burger'></div>
                <div class='burger'></div>
            </div>
        </div>
        {% endif %}

    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    document.querySelectorAll('.table-responsive').forEach(function (table) {
                        let labels = Array.from(table.querySelectorAll('th')).map(function (th) {
                            return th.innerText
                        })
                        table.querySelectorAll('td').forEach(function (td, i) {
                            td.setAttribute('data-label', labels[i % labels.length])
                        })
                    })
                })

                var bouton = document.getElementById('burger')
                console.log(bouton)
                bouton.addEventListener('click',function(){
                    var menu = document.querySelector('nav')
                    console.log(menu)
                    menu.classList.toggle('hide')
                })



            </script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>


        {% endblock %}
    </body>
    <footer>
        <div style="position: relative">
            <p class="anim">GRETA</p>
        </div>
        <p>Mentions légales - A propos</p>
    </footer>
</html>
