<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}

    </head>
    <body>
    <header>
        <div class="first">
            <div class ='avatar'>
                {% if app.user is not null  %}
                <p>Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</p>
{#                {{ dump(app.user) }}#}

                <img src="{{ asset_avatar(app.user.avatar) }}" alt="avatar" class="img1">
                    {% else %}
                        <li><a href ="{{ path('security.login') }}" id="special">Bonjour connectez-vous !</a></li>
                {% endif %}

            </div>
        </div>
        <div class="second">
            <img src="{{ asset("images/image2.png") }}" alt="logo_greta" id="img2">
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="third">
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href= "{{ path('admin.index') }}">Administration</a></li>
                {% endif %}
                {% block li %}
{#                <li><a href= {{path('home.index')}}>Accueil</a></li>#}
                {% endblock %}
                <li><a href= #>Compte</a></li>
                <li><a href ="{{ path('security.logout') }}">Déconnexion</a></li>

            </ul>
        </div>
        {% else %}
        <div class="third">
            <ul>
                <li><a href= {{path('home.index')}}>Accueil</a></li>
                <li><a href ="{{ path('security.login') }}" id="special">Connexion</a></li>
                <li><a href =#>Compte</a></li>

            </ul>
        </div>
        {% endif %}





    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    document.querySelectorAll('.table-responsive').forEach(function (table) {
                        let labels = Array.from(table.querySelectorAll('th')).map(function (th) {
                            return th.innerText
                        })
                        table.querySelectorAll('td').forEach(function (td, i) {
                            td.setAttribute('data-label', labels[i % labels.length])
                        })
                    })
                })
            </script>

        {% endblock %}
    </body>
    <footer>
        <div style="position: relative">
            <p class="anim">GRETA</p>
        </div>
        <p>Mentions légales - A propos</p>
    </footer>
</html>
