{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="photo_accueil">
            <h1 >Bienvenue sur l'annuaire des anciens élèves du Greta</h1>
        </div>

        <div class="formulaire_recherche">
            <form>
                <label>
                    <select name="choice">#}
                                            {% for degree in degrees %}<option value="{{ degree.id}}">{{ degree.name}}</option> {% endfor %}
                                        </select>
                                    </label>
                                    <label>
                                        <select name="année">
                                            {% for session in sessions %}<option value="{{ session.id}}">{{ session.title}}</option> {% endfor %}

                                        </select>

                    <input class="champ" type="submit" value="GO">
                </label>
            </form>
            <small>Vous pouvez effectuez votre recherche par formation et année de formation.</small>

        </div>


        <div class="tableau">
            <table>
                <caption>Résultat de la recherche</caption>
                <tr>
                    <th class="color">Nom</th>
                    <th class="color">Prénom</th>
                    <th class="color">Formation suivie</th>
                    <th class="color">Avatar</th>
                </tr>
                <tr>
                    <th>Provost</th>
                    <th>Daniel</th>
                    <th>Developpement Web</th>
                    <th><img src="{{asset("images/image1.png" )  }}" alt="avatar" class="img1"></th>
                </tr>
                <tr>
                    <th>Monsieur</th>
                    <th>Antoine</th>
                    <th>Developpement Web</th>
                    <th>N'a pas d'avatar</th>
                </tr>

            </table>
        </div>
        <div style="position: relative">
            <p class="anim">GRETA</p>
        </div>

    </section>
    <footer>

        <p>Mentions légales - A propos</p>
    </footer>

{% endblock %}