{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="photo_accueil">
            <h1 >Bienvenue sur l'annuaire des anciens élèves du Greta</h1>
        </div>

        <div class="formulaire_recherche">
            <form action='{{path('home.index')}}' method="post" >

                <select name="degree">
                    <option value="">Toutes les formations</option>
                    {% for degree in degrees %}
                        {% if(app.request.request.get('degree')==degree.id) %}
                            <option value="{{ degree.id}}" selected>{{ degree.name}}</option>
                        {% else  %}
                            <option value="{{ degree.id}}" >{{ degree.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>


                <select name="year">
                    <option value="">Toutes les années</option>
                    {% for session in sessions %}
                        {% if(app.request.request.get('year')==session.id) %}
                            <option value="{{ session.id}}" selected>{{ session.title}}</option>
                        {% else  %}
                            <option value="{{ session.id}}">{{ session.title}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                    <input class="champ" type="submit" value="GO">

            </form>
            <small>Vous pouvez effectuez votre recherche par formation et année de formation.</small>

        </div>


        <div class="tableau">
            <table class= "tableResponsive">
                <caption>Résultat de la recherche</caption>
                <tr>
                    <th class="color">Nom</th>
                    <th class="color">Prénom</th>
                    <th class="color">Formation suivie</th>
                    <th class="color">Avatar</th>
                    <th class="color">Plus d'infos</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td data-label="Prénom">{{ user.firstname }}</td>
                        <td data-label="Nom">{{ user.lastname }}</td>
                        <td data-label="Promotions"><p>---</p>
                        {% for promo in user.promotions %}
                            <a href="{{ path('formation.id',{'id' : promo.degree.id}) }}" style="color: #718C00">{{promo.degree.name}}</a><p>---</p>
                        {% endfor %}
                        </td>
                        <td data-label="Avatar"><img src="{{asset("upload/avatar/"~user.avatar)}}" alt="avatar" id="avatarTab"></td>
                        <td data-label="Plus d'infos"<a href="{{path('alumni.index',{"id":user.id,"slug":user.slug})  }}">GO</a></td>
                </tr>
                {% endfor %}
            </table>


        </div>

    </section>

{% endblock %}